@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    background-color: #FEFEFD;
}

.page-header img {
    width: 90px;
    height: 90px;
}

.page-header h1, h4 {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40pt;
    color: dodgerblue;
}

p {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    color: darkslateblue;
}

#modal-body {
    font-size: 20pt;
}

#start-button {
    margin-bottom: 10px;
    margin-left: 2px;
}

#game-interface {
    display: none;
}

#game-info p {
    padding-top: 3px;
    font-size: 150%;
    margin: 0;
}

#game-info {
    padding-left: 17px;
}

#game-board {
    margin-bottom: 180px;
}

#game-board img {
    max-width: 150px;
    width: 25%;
    padding: 3px;
}

#modal-title {
    font-size: 40pt;
}

.btn {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;;
}

@media screen and (max-width: 640px) {
    .head-image {
        display: none;
    }

    .page-header h1 {
        font-size: 30pt;
    }

    #game-info p {
        font-size: 80%;
    }
}

@media screen and (max-width: 992px) {
    #game-info p {
        display: inline-block;
        padding-right: 30px;
    }
}

@media screen and (min-width: 992px) {
    #restart-button {
        margin-top: 7px;
    }
}
